.wrap {
	width: 900px;
	margin: 100px auto;
	display: flex;
}

.title {
	font-family: Helvetica;
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: bold;
	border-bottom: 3px solid #ff9691;
	display: inline-block;
}

.sidebar {
	width: 200px;
	margin-right: 50px;
}

.content {
	width: 600px;
}

.link {
	color: salmon;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}