.wrap {
	width: 500px;
	margin: 50px auto;
}

.title {
	font-family: Helvetica;
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: bold;
	border-bottom: 3px solid #ff9691;
	display: inline-block;
}