.wrap {
	padding-top: 150px;
	width: 500px;
	margin: auto;
}

.title {
	font-family: Helvetica;
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: bold;
	border-bottom: 3px solid #ff9691;
	display: inline-block;
}